/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Main Section */
main {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
}

main img {
    width: 150px;
    height: auto;
}

/* Aside Section */
aside {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #e0e0e0;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

/* Paragraph */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 20px;
    border-top: 2px solid #000;
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}
